<main class="w-full h-full bg-BGblack font-inter flex  flex-col items-center gap-4 overflow-x-hidden ">


  <header class=" flex justify-between mt-5 mx-4 shrink-0 ">
    <div class="flex flex-row *:text-gray-400 divide-x divide-divideDM border border-divideDM rounded-lg *:px-4 *:py-1 *:hover:bg-accentDM *:cursor-pointer *:transition-colors duration-200 overflow-hidden">
        <button (click)="filter('unpaid');" [ngClass]="{'bg-[#2a3c5a] hover:bg-[#2a3c5a]! text-white!  ':sortUnpaid}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M10 10l4 4m0 -4l-4 4" /></svg>
        </button>
        
        <button (click)="filter('paid')" [ngClass]="{'bg-[#2a3c5a] hover:bg-[#2a3c5a]! text-white!  ':sortPaid}">
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 12l2 2l4 -4" />
          </svg>
        </button>

        <button (click)="filter('desc')" [ngClass]="{'bg-[#2a3c5a] hover:bg-[#2a3c5a]! text-white!  ':sortAmount}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-caret-up-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 10l-6 -6l-6 6h12" /><path d="M18 14l-6 6l-6 -6h12" /></svg>
        </button>
    </div>
    <div class="relative w-[55%] max-w-xs">
        <!-- Icono de búsqueda -->
        <svg class="absolute left-2 top-1/2 transform -translate-y-1/2 w-4 h-4 text-gray-400 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.5 3a7.5 7.5 0 016.15 13.65z" />
        </svg>

        <!-- Input -->
        <input [(ngModel)]="search" (input)="searchFuncion();useInput()"   type="text" placeholder="Buscar" class="w-full pl-8 pr-2 py-1 rounded-md text-white placeholder:text-gray-400 border border-divideDM focus:border-divideDM focus:ring-2 focus:ring-gray-400 focus:outline-none transition-all duration-100">
      </div>

  </header>

  <div class="overflow-x-auto w-full px-4 rounded-xl flex-1 overflow-y-auto scroll-transparent  ">
      <table class="min-w-full text-sm text-left text-gray-300 dark:text-gray-300 border rounded-xl border-accentDM border-separate border-spacing-0 overflow-hidden ">
        <!-- Headers -->
        <thead class="bg-accentDM text-[#e9ebed] uppercase text-xs overflow-hidden">
          <tr class="*:border-b *:border-accentDM ">
            <th scope="col" class="px-3 py-3">Cliente</th>
            <th scope="col" class="px-3 py-3">Deuda</th>
            <th scope="col" class="px-3 py-3 ">Últ. pago</th>
            <th scope="col" class="px-3 py-3">Estado</th>
          </tr>
        </thead>

        <!-- Body -->
        <tbody class="divide-y divide-divideDM ">

        <ng-container *ngIf="clients">
          <tr *ngIf="clients.length === 0">
            <td colspan="5">
              <div class="flex flex-col items-center justify-center py-5 px-4 opacity-50 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 mb-1 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.5 3a7.5 7.5 0 016.15 13.65z" />
                </svg>
                <p class="text-gray-400 font-medium">Sin resultados</p>
              </div>
            </td>
          </tr>
        </ng-container>


          <!-- Fila clickeable -->
          <ng-container *ngFor="let client of clients">
            
                <tr class="hover:bg-accentDM/35 cursor-pointer transition-colors duration-200 *:border-b *:border-accentDM " (click)="sendUser(client)" >
                    <td  class="px-4 py-3 truncate max-w-[100px]">{{client.name}}</td>
                    <td *ngIf="client.total_sales > 0; else noDebt" class="px-4 py-3">${{client.debt|number}}</td>
                    <ng-template #noDebt>
                      <td class="px-4 py-3 text-white/20">N/A</td>
                    </ng-template>
                    <ng-container *ngIf="client.lastpay; else nodate">
                      <td class="px-4 py-3">{{client.lastpay | date:'MM/dd'}}</td>
                    </ng-container>
                    <ng-template #nodate>
                      <td class="px-4 py-3 text-white/20">N/A</td>
                    </ng-template>
                    <td *ngIf="client.total_sales > 0; else noSales" class="px-4 py-3">
                      <p [ngClass]="{
                          'bg-green-600/10 border! border-green-500/50! text-green-400': client.debt === 0,
                          'bg-red-500/15 border border-red-500/50 text-red-400': client.debt > 0}" class="text-center w-fit px-3 py-1 text-sm font-medium rounded-md border transition-colors duration-200">
                          {{ client.debt === 0 ? 'Pagado' : 'Impago' }}</p>
                    </td>
                    <ng-template #noSales>
                      <td class="px-4 py-3 truncate "><p class="py-1 w-fit  px-3 bg-gray-500/10 border border-gray-500/50 text-gray-400 rounded-md text-center text-sm">S/ventas</p></td>
                    </ng-template>
                </tr>
          </ng-container>

    <!-- SKELETON LOADER -->
          <ng-container *ngIf="!clients">
            <tr class="hover:bg-accentDM/35 cursor-pointer transition-colors duration-200 *:border-b *:border-accentDM " >
              <td class="px-2" colspan="3" ><div class="h-4 w-full bg-gray-700 rounded-full animate-pulse mt-2"></div></td>
            </tr>

            <tr  class="hover:bg-accentDM/35 cursor-pointer transition-colors duration-200 *:border-b *:border-accentDM " >
              <td class="px-2" colspan="4" ><div class="h-4 w-full bg-gray-700 rounded-full animate-pulse mt-2"></div></td>
            </tr>

            <tr  class="hover:bg-accentDM/35 cursor-pointer transition-colors duration-200 *:border-b *:border-accentDM " >
              <td class="px-2" colspan="2" ><div class="h-4 w-full bg-gray-700 rounded-full animate-pulse mt-2"></div></td>
            </tr>

            <tr  class="hover:bg-accentDM/35 cursor-pointer transition-colors duration-200 *:border-b *:border-accentDM " >
              <td class="px-2" colspan="1" ><div class="h-4 w-full bg-gray-700 rounded-full animate-pulse mt-2"></div></td>
            </tr>

            <tr  class="hover:bg-accentDM/35 cursor-pointer transition-colors duration-200 *:border-b *:border-accentDM " >
              <td class="px-2" colspan="3" ><div class="h-4 w-full bg-gray-700 rounded-full animate-pulse mt-2"></div></td>
            </tr>

            <tr  class="hover:bg-accentDM/35 cursor-pointer transition-colors duration-200 *:border-b *:border-accentDM " >
              <td class="px-2" colspan="2" ><div class="h-4 w-full bg-gray-700 rounded-full animate-pulse mt-2"></div></td>
            </tr>

          </ng-container>
          

        

          <!-- Agregar más filas dinámicamente con *ngFor -->
        </tbody>
      </table>
  </div>



<app-client-info [ShowModal]="ShowModal" (emitSignal)="ShowModal=$event" (realoadSignal)="reload() "></app-client-info>

</main>



